OPENAI_API_KEY=你的OpenAI_API_Key

OKX_API_KEY=你的OKX_API_Key
OKX_API_SECRET=你的OKX_API_Secret
OKX_API_PASSPHRASE=你的OKX_API_Passphrase

OPENAI_MODEL=gpt-5.5
BACKTEST_FILE=user_data/backtest_results/backtest-result.json
AI_ANALYSIS_FILE=user_data/backtest_results/ai-analysis.txt
AI_STRATEGY_FILE=user_data/strategies/AI_Generated_Strategy.py
